In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
df.head()              # This will show us the first 5 rows of our dataframe
print(df.shape )       # To see the number of rows and columns
print(df.columns)      # To access the names of the columns
df.isna()              # To check for missing values in the dataframe
clean_df = df.dropna() # This will drop any rows with missing values
clean_df.tail()        # This will show us the last 5 rows of our cleaned dataframe

(51, 6)
Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [19]:
# Find College Major with Highest Starting Salaries
clean_df['Starting Median Salary'].max()

# Which college major earns this much on average?
clean_df['Starting Median Salary'].idxmax()
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [24]:
# CHALLENGE ::

# What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).
print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

# Which college major has the lowest starting salary and how much do graduates earn after university?
print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

107000.0
Index for the max mid career salary: 8
34000.0

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

In [ ]:
# Find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile. 
# Also, find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

highest_spread = clean_df.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [29]:
clean_df.groupby('Group').count()
clean_df.groupby('Group').mean()

TypeError: agg function failed [how->mean,dtype->object]